*{
    margin: 0;
    padding: 0;
    color: white;
}
main{
    height: 100vh;
    box-sizing: border-box;
    background-image: url('image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

main .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

main h1{
    margin-bottom: 5px;
}

main button{
    padding: 10px;
    border-radius: 10px;
    background-color: black;
}