    .pai{
        background-color: bisque;
        width: 50%;
        
    }
    /* 1em = 16px */
    .filho{
        background-color: blue;
        width: 50%;
        
    }
    html{
        background-color: #ccc;
        
        
    }
    body{
        background-color: blueviolet;
        width: 50%;
    
    }