    a{
        cursor: progress;
        margin: 20px;
        padding: 30px;
        text-decoration: none;
    }
    a:visited{
        color: orange;
    }
    a:active{
        color: red;
    }
    a:hover{
        background-color: red;
        color: white;
    }